/org.eclipse.m2e.core.prefs
/org.eclipse.jdt.core.prefs
/org.eclipse.core.resources.prefs
/org.maven.ide.eclipse.prefs
/org.eclipse.wst.common.component
/org.eclipse.wst.common.project.facet.core.xml
/org.eclipse.wst.jsdt.ui.superType.container
/.jsdtscope
/org.eclipse.wst.jsdt.ui.superType.name
/org.eclipse.wst.validation.prefs
/org.eclipse.ltk.core.refactoring.prefs
/org.eclipse.wst.jsdt.ui.prefs
/org.eclipse.wst.jsdt.core.prefs
