/* WIRECARD AG */
/* -----------------------------------------------------
[Messages Stylesheet]
Project:		Wirecard Enterprise Portal
Version:		1.0
Last Change:	30.09.2008
----------------------------------------------------- */
   
div.red {
	background-color: #e30f0e;
}
div.green {
	background-color: green;
}
div.blue {
	background-color: blue;
}
div.bubble,
div.bubble-top {
	width: 368px;
	padding-bottom: 3px;
	padding-top: 3px;
	color: #fff;
	display: none;
}
div.bubble h2,
div.bubble-top h2, p {
	margin: 5px 10px;
	color: #fff;
}