<html wicket="xmlns:wicket">
<body>
<wicket:panel>
    <table>
        <tbody>
            <td class="range" width="20%">
                <span wicket:id="headline">a headline above the navigator</span>
            </td>
            <td class="pages" width="70%">
                <span wicket:id="backwardsLinksWrapper">
                    <a wicket:id="first" class="first"><wicket:message key="lbl_first"></wicket:message></a> 
                    <a wicket:id="prev" class="previous"><wicket:message key="lbl_previous"></wicket:message></a> 
                </span>
                <span wicket:id="navigation"> 
                    <a wicket:id="pageLink" href="#"><span wicket:id="pageNumber">5</span></a> 
                </span> 
                <span wicket:id="forwardLinksWrapper">
                    <a wicket:id="next" class="next"><wicket:message key="lbl_next"></wicket:message></a> 
                    <a wicket:id="last" class="last"><wicket:message key="lbl_last"></wicket:message></a>
                </span>
            </td>
            <td class="pages"></td>
        </tbody>
    </table>
</wicket:panel>
</body>
</html>
