/* Form styles */
.div-regForm {
	border: 1px solid #eeeeee;
	padding: 15px;
	background: url(img/bg.jpg) repeat-x #cbd4e4;
	color: #203360;
	margin: 30px auto 40px auto;
	width: 480px;
}

.div-regForm input[type='text'],input[type='password'],select,textarea {
	padding: 3px;
	color: #333333;
	border: 1px solid #96A6C5;
	margin: 2px 0 0 0;
	font-size: 11px;
}

.div-regForm input[type='text'] {
	width: 120px;
}

.div-regForm textarea {
	width: 310px;
	height: 40px;
}

.input_short {
	padding: 3px;
	color: #333333;
	border: 1px solid #96A6C5;
	margin-top: 2px;
	width: 60px;
	font-size: 11px;
}

.div-regForm select {
	width: auto;
	padding: 2px;
}

.label_info {
	color: #666666;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	width: 140px;
}

.formline {
	padding: 3px;
}

.div-regForm label {
	display: block;
	font-size: 11px;
	text-align: right;
	float: right;
	font-weight: bold;
}

.div-regForm table {
	width: 540px;
}

.div-regForm td {
	font-size: 11px;
	border-bottom: 0px;
	padding: 1px;
}

.input-container {
	padding: 1px;
}

.form-title,.form-sub-title {
	font-size: 20px;
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.form-sub-title {
	font-weight: normal;
	padding: 6px 0 15px 0;
}

#greenButton {
	background-color: #589D39;
	border: 1px solid #006600;
	color: white;
	font-weight: bold;
	margin: 10px 0 0 2px;
	outline: medium none;
	padding: 3px 4px;
	width: auto;
}

.greenButton:active {
	background-color: #006600;
	padding: 4px 3px 2px 5px;
}

#loading {
	left: 10px;
	position: relative;
	top: 3px;
	visibility: hidden;
}

#error {
	background-color: #ffebe8;
	border: 1px solid #dd3c10;
	padding: 7px 3px;
	text-align: center;
	margin-top: 10px;
	visibility: hidden;
}