/* ------------------ Wizard ---------------------------------*/
div.step_active {
	background: transparent url(../images/step_active.png) no-repeat;
	width: 162px;
	height: 45px;
	float: left;
	color: #fff;
	font-size: 12px;
	line-height: 44px;
	text-align: center;
	margin-right: -23px;
}

div.step_active a {
	color: #fff;
	line-height: 44px;
}

div.step_grey {
	background: transparent url(../images/step_inactive.png) no-repeat;
	width: 162px;
	height: 45px;
	float: left;
	font-size: 12px;
	line-height: 44px;
	text-align: center;
	margin-right: -23px;
}

div.step_grey a {
	line-height: 44px;
}

div.step_blue {
	background: #99bce2;
	width: 162px;
	height: 45px;
	float: left;
	color: #fff;
	font-size: 12px;
	line-height: 44px;
	text-align: center;
	margin-right: -23px;
}

div.step_blue a {
	color: #fff;
	line-height: 44px;
}